:root {
  --mono-font: "Geist Mono", monospace;

  --monaco-monospace-font: var(--mono-font);
  --vscode-editorCodeLens-fontFamily: var(--mono-font);
  --vscode-parameterHintsWidget-editorFontFamily: var(--mono-font);
  --vscode-repl-font-family: var(--mono-font);
}

.mac {
  --monaco-monospace-font: var(--mono-font);
  --vscode-editorCodeLens-fontFamily: var(--mono-font);
  --vscode-parameterHintsWidget-editorFontFamily: var(--mono-font);
  --vscode-repl-font-family: var(--mono-font);

  font-family: var(--mono-font) !important;
}

.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row,
.monaco-icon-label .label-name {
  font-family: var(--mono-font) !important;
  font-weight: 600 !important;
}

/* Sidebar */
.part.sidebar {
  border-left: none !important;
}

/* File explorer title */
.composite.title .title-label > h2 {
  font-family: var(--mono-font) !important;
  font-size: 0.875rem !important;
  font-weight: bolder !important;
}
.composite.title .title-label > h2::before {
  display: inline-block;
  content: "👨‍💻";
  font-size: 0.875rem;
  margin-right: 0.25rem;
}

/* Project title's style at the top. */
.monaco-workbench
  .part.titlebar
  > .titlebar-container
  > .titlebar-center
  > .window-title
  > .command-center
  .action-item.command-center-center {
  border: none !important;
  background: transparent !important;
  width: fit-content !important;
  pointer-events: none !important;
}

/* Project Title */
.titlebar-left {
  justify-content: flex-start !important;
  flex-grow: 0 !important;
  width: auto !important;
}

/* Search Label */
.search-label {
  font-family: var(--mono-font) !important;
  font-size: 1rem !important;
  font-weight: bolder !important;
  display: block;
}

:is(
    .titlebar-right .action-item.menu-entry,
    .codicon-arrow-right,
    .codicon-arrow-left,
    .search-icon
  ) {
  display: none !important;
}

/* Breadcrumbs */
.breadcrumbs-below-tabs {
  position: fixed;
  bottom: 0;
}

/* Command palette */
.quick-input-filter .monaco-inputbox {
  font-family: var(--mono-font) !important;
  font-size: 1.5rem !important;
  border-radius: 0.25rem !important;
  padding: 0.5rem !important;
  border: none !important;
  margin-left: 0.125rem !important;
}

:is(.monaco-editor .sticky-widget, .monaco-tree-sticky-container-shadow) {
  box-shadow: none !important;
  border-bottom: 1px solid var(--vscode-scrollbarSlider-background);
}

:is(.monaco-editor .scroll-decoration, .mac .shadow.top) {
  box-shadow: none !important;
}
